header{
    box-shadow: 0px 5px 5px -5px #000000;
    width: 100%;
}

.logo img{
    height: 90px;
}

.navbar-nav .nav-link {
    color: #922724;
    font-size: x-large;
    font-weight: 550;
}
.login:hover{
    background-color: #922724;
    transition: .6s;
    font-weight: 700;
}

.btn{
    background-color: #922724;
    color: #ffff;
}

.reserva{
    margin-left: .5rem;
    width: 70%;
}

.nav-link, .login{
    margin-right: 60px;
}
main{
    margin-top: 5rem;
}
section{
    margin-bottom: 12rem;
}

.col img
{
   width: 750px;
    height: auto;
    margin: 0 auto;
}

.col h3{
    font-weight: 700;
}

h1
{
  color: #922724;
  font-size:420%;
  font-weight: 600;
}

.carouselExampleDark{
    height: 100vh;
}

.lugar {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5Vh;
}

.caja{
    width: 50px;
    height: 50px;
    flex: 1 0 21%;
    margin: 5px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.t{
    border-left: 3px solid black;
  height: 100px;
  left: 50%;
  margin-left: 3px;
  top: 0;
}

.info{
    display: inline-block;
    text-align: center;
}

.about p{
    
    font-size: larger;    
    font-weight: bold;
}

.inicios{
    margin-top: 5rem;
}

.empresa {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 20Vh;
}

.vym{
    width: 400px;
  height: 300px;
  margin: auto;  
  text-align: justify;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*Footer */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none; 
}

body {

    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {

    background-color:#922724;
    padding: 80px 0;
}

.footer-row {

    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {

    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: in line-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px ;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;

}

.social-links a:hover {
    background-color: #00c3ff;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}